button {
  font-size: 5vh;
  border-radius: 6px;
  margin: 1vh 1vw;
  background-color: #326799;
  color: white;
}

#drum-pad-container {
  padding-bottom: 3vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #183043;
  width: 40vw;
  height: 40vh;
}

#display {
  padding-top: 3vh;
  background-color: #183043;
  color: white;
  font-size: 5vh;
  text-align: center;
  width:40vw;
  height:10vh;
}

#drum-machine {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
